* {
    margin: 0;
    font-family: 'Roboto', 'Arial', 'Sans-serif';
}

body {
    max-width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    background-color: #ddd;
}

form {
    display: grid;
    gap: 20px;
    justify-items: center;
    padding: 20px;
    border: 1px solid #E64E4E;
    border-radius: 4px;
}

h1, h3 {
    color: #E64E4E;
}

label, p {
    font-size: 1rem;
}

input[type=button] {
    padding: 5px 25px;
    font-size: 1rem;
    border: 1px solid #E64E4E;
    border-radius: 2px;
}

input[type=button]:hover {
    transition: calc(0.5s);
    cursor: pointer;
    background-color: #E64E4E;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    width: 50px;
    text-align: center;
    background-color: #00000000;
    border-radius: 4px;
    border: 1px solid #E64E4E;
}

table {
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-bottom: 30px;
}

td {
    border: 1px solid #000;
    padding: 0.5rem 1rem;
}

tr:first-child {
    background-color: #E64E4E9F;
    font-weight: bold;
}

table thead {
    margin-top: 10px;
}

#resposta {
    border-radius: 4px;
    padding: 10px;
    align-items: center;
    display: grid;
    grid-template-rows: 3;
    gap: 4px;
}

#resposta #resposta1 {
    grid: 1;
}

#resposta #resposta2 {
    grid: 2;
}

#resposta #resposta3 {
    grid: 3;
}

footer {
    font-size: 1rem;
}